.welcome-card img {
  	width: 200px;
  	align-self: center;
	margin: auto;
	display: block;
	padding: 10px;
}

.welcome-card ion-card-header ion-card-title {
	text-align: center;
}

.welcome-card ion-card-content {
	text-align: center;
}

